*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

div.main{
    border:2px solid rgba(76, 76, 251, 0.863);
    border-radius: 10px;
    margin: 8px 0;
    width: 60%;
    padding: 20px 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
}

#sleep,#heartrate, #water, #exercise, #wei,#bp,#bp2{
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    height: 30px;
}
button {
    width: 98%;
    margin-top: auto;
    margin-left: 12px;
    margin-right: auto;
    background-color: rgba(76, 76, 251, 0.863);
    color: #ffffff;
    padding: 12px 18px;
    font-size: 17px;
    font-weight: 120;
    border-radius: 10px;
    cursor: pointer;
    height: 40px
}
.l{
    float: left;
    width: 48%;
}
.r{
    float: right;
    width: 48%;
}