*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

div.logo{
    width: 12%;
    margin-left: auto;
    margin-right: auto;
}
div.main{
    border:2px solid rgba(76, 76, 251, 0.863);
    border-radius: 10px;
    margin: 8px 0;
    width: 40%;
    padding: 10px 20px;

    margin-top: 100px;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(255, 255, 255);
}
#email, #password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
button {
    margin-top: auto;
    width: 100%;
    background-color: rgba(76, 76, 251, 0.863);
    color: #ffffff;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: 120;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    opacity: 0.85;
}
h3, .link, .global_msg{
    text-align: center;
}



